plugins_preset: "all" # Valid values are "default", "all" or "none".
plugins:
  dbinfo:
    disabled: false
    pkgname: "dbinfo"
    destination: "internal/database/dbinfo"
  enums:
    disabled: false
    pkgname: "enums"
    destination: "internal/database/enums"
  models:
    disabled: false
    pkgname: "models"
    destination: "internal/database/models"
  factory:
    disabled: false
    pkgname: "factory"
    destination: "internal/database/factory"
  dberrors:
    disabled: false
    pkgname: "dberrors"
    destination: "internal/database/dberrors"
  where:
    disabled: false
  loaders:
    disabled: false
  joins:
    disabled: false
psql:
  dsn: "postgres://user:pass@host:port/dbname"
  except:
    schema_migrations: